{% extends "base.html" %}
{% block content %}
    <!--<h2 id="playerName" playerId="{{id}}">Игроки: {{ name }}</h2>-->
    <div id="main">
        {{match['players'][0]|safe}} &nbsp;-&nbsp; {{match['players'][1]|safe}}
        <div id="matchHash" hash="{{match['hash']}}"></div>

        <h3>Результат</h3>
        {{match['setsScore']}}, ({{match['pointsScore']}})

        <h3>Личные встречи</h3>

        <h3>Ставки</h3>
        <table id="match_bets_table" class="table table-striped table-bordered">
            <thead>
                <tr>
                    {% for column in bets_columns %}
                        <th data-type="number"> {{column}} </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
{% endblock %}
