{% extends "base.html" %}
{% block content %}
    <h2>Игроки</h2>
    <div id="main">
        <table id="players_table" class="table table-striped table-bordered">
            <thead>
                <tr>
                    {% for column in columns %}
                        <th data-type="number"> {{column}} </th>
                    {% endfor %}
<!--                            <th data-type="number"> id </th>
                    <th data-type="string"> name </th>
                    <th data-type="string"> freq </th> -->
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
{% endblock %}
