{% extends "base.html" %}
{% block content %}
    <h2 id="playerName" playerId="{{playerId}}">Игрок: {{ name }}</h2>
    <div id="main">
<!--        <h3 id="playerName" playerId="{{id}}">Игрок: {{ name }}</h3>-->
        <h3>Матчи</h3>

        <div id="matches_filters">
            {% if filters['sourceId'] %}
                <h4 class="kv" key="sourceId" value="{{filters['sourceId']}}">
                    Источник: {{ filters['sourceName'] }}
                    <button id="sourceIdfilter_clear" type="button" class="filter_clear btn btn-danger">x</button>
                </h4>
            {% endif %}
            {% if filters['compId'] %}
                <h4 class="kv" key="compId" value="{{filters['compId']}}">
                    Турнир: {{ filters['compName'] }}
                    <button id="compIdfilter_clear" type="button" class="filter_clear btn btn-danger">x</button>
                </h4>
            {% endif %}
            {% if filters['playerId'] %}
                <h4 class="kv" key="playerId" value="{{filters['playerId']}}">
                    Противник: {{ filters['playerName'] }}
                    <button id="playerIdfilter_clear" type="button" class="filter_clear btn btn-danger">x</button>
                </h4>
            {% endif %}
        </div>
        <table id="player_matches_table" class="table table-striped table-bordered">
            <thead>
                <tr>
                    {% for column in matches_columns %}
                        <th data-type="number"> {{column}} </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <h3>Рейтинги</h3>
        <table id="player_rankings_table" class="table table-striped table-bordered">
            <thead>
                <tr>
                    {% for column in rankings_columns %}
                        <th data-type="number"> {{column}} </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <!--
    <div id="right">
        <table id="match_bets_table" class="table table-striped table-bordered">
            <thead>
                <tr>
                    {% for column in bets_columns %}
                        <th data-type="number"> {{column}} </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    -->
{% endblock %}
